.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block; /*Organiza los elementos de la lista de forma horizontal*/
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/*PseudoClases = Define el estilo de un estado especial de un elemento*/
.main-nav__item a:hover { /*Cambia de color al posicionarse*/
    color: blue;
}

.main-nav__item a:active { /*Cambia de color al estar activo*/
    color: red;
}

/*PseudoElementos = define el estilo de una parte especifica de un elemento*/
.main-nav__item a::after { /*Despues del elemento agregar el contenido*/
    content: " | ";
}